.button {
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-background-radius: 6px;
    -fx-background-color: #5FB7BB;
    -fx-background-size: 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-color:  #5FB7BB;
}

#UnaryLabel, #BinaryLabel, #TernaryLabel, #VarLabel, #ErrorLabel, #MesLabel {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}
.tooltip {
    -fx-pref-width: inherit;
    -fx-background-radius: 6px;
}
#new {
    -fx-background-image: url('../images/new.png');
}
#save {
    -fx-background-image: url('../images/save.png');
}
#load {
    -fx-background-image: url('../images/load.png');
}
#screenshot {
    -fx-background-image: url('../images/screenshot.png');
}
#next {
    -fx-background-image: url('../images/next.png');
}
#back {
    -fx-background-image: url('../images/back.png');
}
#repeat {
    -fx-background-image: url('../images/complete.png');
}
#run {
    -fx-background-image: url('../images/play.png');
}
#add{
    -fx-background-image: url('../images/add.png');
}
#remove{
    -fx-background-image: url('../images/remove.png');
}
#registers{
    -fx-background-image: url('../images/register.png');
}
#values{
    -fx-background-image: url('../images/values.png');
}
/* Unary Buttons */
#X{
    -fx-background-color: darkseagreen;
    -fx-background-image: url('../images/transform-icons/unary-operators/NOT@2x.png');
}
#Y{
    -fx-background-color: darkseagreen;
    -fx-background-image: url('../images/transform-icons/unary-operators/Y@2.png');
}
#Z{
    -fx-background-color: darkseagreen;
    -fx-background-image: url('../images/transform-icons/unary-operators/Z@2x.png');
}
#Hadamard{
    -fx-background-color: darkseagreen;
    -fx-background-image: url('../images/transform-icons/unary-operators/Hadimard@2x.png');
}
#Phase{
    -fx-background-color: darkseagreen;
    -fx-background-image: url('../images/transform-icons/unary-operators/PhaseGate@2x.png');
}
#Identity{
    -fx-background-color: darkseagreen;
    -fx-background-image: url('../images/transform-icons/unary-operators/Identity@2x.png');
}
#Inverse{
    -fx-background-color: darkseagreen;
    -fx-background-color: darkseagreen;
    -fx-background-image: url('../images/transform-icons/unary-operators/InverseS@2x.png');
}
#SqRoot{
    -fx-background-color: darkseagreen;
    -fx-background-image: url('../images/transform-icons/unary-operators/SqNOT@2x.png');
}
#Shift{
    -fx-background-color: darkseagreen;
    -fx-background-image: url('../images/transform-icons/unary-operators/T(Pi-div-8)@2x.png');
}
/* Binary Buttons*/
#Swap{
    -fx-background-image: url('../images/transform-icons/binary-operators/Swap.png');
    -fx-background-color: lightsalmon;
}
#CNOT{
    -fx-background-image: url('../images/transform-icons/binary-operators/CNOT.png');
    -fx-background-color: lightsalmon;
}
#Rotate{
    -fx-background-image: url('../images/transform-icons/binary-operators/Rotatex.png');
    -fx-background-color: lightsalmon;
}
/* Ternary */

#Toffoli{
    -fx-background-image: url('../images/transform-icons/Toffoli.png');
    -fx-background-color: plum;
}

/** Variable Gates **/
#Grover{
    -fx-background-image: url('../images/transform-icons/VarQbit/Grover.png');
    -fx-background-color: #ffd480;
}
#WalshHadamard{
    -fx-background-image: url('../images/transform-icons/VarQbit/WH.png');
    -fx-background-color: #ffd480;
}
#QFT{
    -fx-background-image: url('../images/transform-icons/VarQbit/QFT.png');
      -fx-background-color: #ffd480;
}
#InvQFT{
    -fx-background-image: url('../images/transform-icons/VarQbit/iQFT.png');
      -fx-background-color: #ffd480;
  }
#General{
    -fx-background-image: url('../images/transform-icons/VarQbit/GeneralControl.png');
      -fx-background-color: #ffd480;
  }
#FunctionEval{
    -fx-background-image: url('../images/transform-icons/VarQbit/FunctionEval.png');
    -fx-background-color: #ffd480;
}

#Error{
    -fx-background-image: url('../images/transform-icons/Error/UnitaryMatrix.png');
    -fx-background-color: #ff4d4d;
}

#CompB{
    -fx-background-image: url('../images/transform-icons/Measurement/MeasurementC.png');
    -fx-background-color: deepskyblue;
}
#SignB {
    -fx-background-image: url('../images/transform-icons/Measurement/MeasurementS.png');
    -fx-background-color: deepskyblue;
}

#Trash {
    -fx-background-image: url('../images/transform-icons/Measurement/Trash.png');
    -fx-background-color: lightskyblue;
}
#toolBar {

    -fx-background-color: lightgrey;
}

.tree-cell {
    -fx-background-color: lightgrey ;
    -fx-padding: 0.75em 0em 0.75em 0em ;
}

.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: #5FB7BB;
}

